<div>
	<div id="cuenta"><p> Contacto </p></div>

		<div style="font: italic 12px verdana, sans-serif; text-align: left; margin-top: 10px;" >
			Mi email es:   <input id="destiny" style="margin-left: 13px;" type="text"  ng-model="email.destiny"  required min="1" /> <br><br>
			Mi mensaje es:  <input id="message" type="text" ng-model="email.message"  required min="1" /> <br><br>   
        		
    		<div id="buttons">
				<button  class="btn btn-primary"  ng-disabled="!email.destiny" ng-click="sendEmail(email)">Send Email</button>
			</div>

		</div>


	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.7865396209527!2d2.6253428505088126!3d39.58696097936947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12979285c26abb63%3A0xcdfa8aa4aae8abce!2sPalau+Municipal+d&#39;Esports+Son+Moix!5e0!3m2!1ses!2ses!4v1484238972112" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>






		
		
