<div>
	<div id="cuenta"><p> Registro  </p></div>

		<div style="font: italic 12px verdana, sans-serif; text-align: left; margin-top: 10px;" >
			Mi nombre es:  <input id="name" type="text" ng-model="user.name"  required min="1" /> <br><br>   
			Mi email es:   <input id="email" style="margin-left: 13px;" type="text"  ng-model="user.email"  required min="1" /> <br><br>
    
    		<div id="buttons">
				<button  class="btn btn-primary"  ng-disabled="!user.name" ng-click="addUser(user)">Registrar</button>
				<button  class="btn btn-primary"  ng-click="">Show Users</button>
			</div>

		</div>

		<h3 style="margin-left:100px;">List of users: </h3>

		<div class="alert alert-info" ng-show="users.length == 0">
		    No Users found
		</div>

		<table class="table table-bordered table-striped" ng-show="users.length > 0">
		    <thead>
		        <tr>
		            <th style="text-align: center;">Name</th>
		            <th style="text-align: center;">Email</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="user in users | orderBy:predicate">
		            <td>{{user.name}}</td>
		            <td>{{user.email}}</td>
		            <td><button ng-click="deleteUser(user.name)" class="glyphicon glyphicon-remove"></button></td>
		            <td style="text-align: center;width: 20px;"></td>
		        </tr>
		    </tbody>
		</table>
</div>
