<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CrunchifySpringMVCTutorial</display-name>
 	 <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  
    <servlet>
        <servlet-name>crazybookings</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>crazybookings</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/shop4u</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>
    
    <!-- ruta fichero -->
	<context-param>
		 <param-name>contextConfigLocation</param-name>
		 <param-value>
		 	/WEB-INF/springSecurity.xml
		 </param-value>
	</context-param>
	
	<!-- listener carga Spring-->
	<listener>
		 <listener-class>
		 org.springframework.web.context.ContextLoaderListener
		 </listener-class>
	</listener>

	<!-- filtro de Spring security-->
	<filter>
		 <filter-name>springSecurityFilterChain</filter-name>
		 <filter-class>
		 org.springframework.web.filter.DelegatingFilterProxy
		 </filter-class>
	</filter>
	
	<filter-mapping>
 		<filter-name>springSecurityFilterChain</filter-name>
 		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>